body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #e7457a;
  border-radius: 50px;
  border: 4px solid white;
}

button.MuiAutocomplete-clearIndicator {
  display: none;
}
div.css-l4u8b9-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #e7457a;
}
div.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #e7457a;
}
label.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #e7457a;
}

.css-6wgmat-MuiAutocomplete-root {
  min-width: 40px;
}
.MuiAutocomplete-inputRoot {
  min-width: 40px;
}
.MuiAutocomplete-hasPopupIcon.css-6wgmat-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-6wgmat-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 20px;
}
.css-6wgmat-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .MuiAutocomplete-input {
  width: 0;
  min-width: 40px;
}
div.MuiAutocomplete-popper {
  margin-left: 0px;
  padding-left: 0px;
}
